#exportPattern("^[^0]*$")
#import(methods)

export(
  #aluetaulukko.suomi,
  get.gadm,
  get.geocode.GoogleMaps,
  get.geocode.OpenStreetMap,
  get.maakuntatiedot,
  get.postinumerot,
  get.staticmap.GoogleMaps,
  get.vaestorekisteri,
  korvaa.skandit,
  #kunta2maakunta,
  preprocess.Oikotie,
  preprocess.PKS.lukiot,
  preprocess.PKS.aluejakokartat,
  preprocess.px,
  preprocess.shape.mml,
  load.apurahat,
  load.maakuntakartta,
  load.migration.data
)

#exportClasses("NetResponseModel")
#S4method(get.subnets, NetResponseModel)

#exportMethods(
#"[",
#"[[",
#show,
#get.subnets,
#get.qofz
#"[<-","$","$<-", 
#"plot","print" 
#)

#exportMethods(get.model.parameters)
#importFrom(doMC, getDoParWorkers)
#export(Diag)
#importFrom(graphics, plot)                                        

