#exportPattern("^[^0]*$")
#import(methods)

export(
  #aluetaulukko.suomi,
  dfsort,
  get.gadm,
  get.geocode.GoogleMaps,
  get.geocode.OpenStreetMap,
  get.hsy,
  get.municipality.info,
  get.province.info,
  get.postal.codes,
  get.staticmap.GoogleMaps,
  get.vaestorekisteri,
  korvaa.skandit,
  load.apurahat,
  load.maakuntakartta,
  load.migration.data,
  municipality2province,
  preprocess.Oikotie,
  preprocess.PKS.lukiot,
  preprocess.PKS.aluejakokartat,
  preprocess.px,
  preprocess.shape.mml,
  shape2sorvi,
  visualize.shape
)

#exportClasses("NetResponseModel")
#S4method(get.subnets, NetResponseModel)

#exportMethods(
#"[",
#"[[",
#show,
#get.subnets,
#get.qofz
#"[<-","$","$<-", 
#"plot","print" 
#)

#exportMethods(get.model.parameters)
#importFrom(doMC, getDoParWorkers)
#export(Diag)
#importFrom(graphics, plot)                                        

