export(ConvertGADMPosition2Region)
export(dfsort)
export(FindProvince)
export(GetApurahat)
export(GetGADM)
export(GetGeocodeGoogleMaps)
export(GetGeocodeOpenStreetMap)
export(GetHKK)
export(GetHRIaluejakokartat)
export(GetHSY)
export(GetLukiot)
export(GetMaakuntainfo)
export(GetMunicipalityInfo)
export(GetOikotie)
export(GetPopulationRegister)
export(GetPostalCodeInfo)
export(GetPresidentti2012)
export(GetProvinceInfo)
export(GetPXTilastokeskus)
export(GetStaticmapGoogleMaps)
export(GetWMSlayers)
export(GetWMSraster)
export(GetWorldbankMigration)
export(is.url)
export(korvaa.skandit)
export(ListWMSurls)
export(LoadWMSurl)
export(PlotShape)
export(PreprocessShapeMML)
export(PreprocessWMS)
export(ReadShape)
export(strstrip)
